%p.text-muted
  &copy 2014 GiveTheNeed       
  %small.term{"data-target" => "#myModal", "data-toggle" => "modal"}
    Term
  / Modal
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h1#myModalLabel.modal-title Terms and Conditions of Use
        .modal-body
          %p Date of Last Revision: 13 July, 2014.
          %h3
            1. Terms
          %p
            By accessing this web site, you are agreeing to be bound by these 
            web site Terms and Conditions of Use, all applicable laws and regulations, 
            and agree that you are responsible for compliance with any applicable local 
            laws. If you do not agree with any of these terms, you are prohibited from 
            using or accessing this site. The materials contained in this web site are 
            protected by applicable copyright and trade mark law.
          %h3
            2. Disclaimer

          %ol(type="a")
            %li
              The materials on GiveNTake's web site are provided "as is". GiveNTake makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, GiveNTake does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.

          %h3
            3. Limitations

          %p
            In no event shall GiveNTake or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on GiveNTake's Internet site, even if GiveNTake or a GiveNTake authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                
          %h3
            4. Revisions and Errata

          %p
            The materials appearing on GiveNTake's web site could include technical, typographical, or photographic errors. GiveNTake does not warrant that any of the materials on its web site are accurate, complete, or current. GiveNTake may make changes to the materials contained on its web site at any time without notice. GiveNTake does not, however, make any commitment to update the materials.

          %h3
            5. Links

          %p
            GiveNTake has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by GiveNTake of the site. Use of any such linked web site is at the user's own risk.

          %h3
            6. Site Terms of Use Modifications

          %p
            GiveNTake may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.

          %h3
            7. Governing Law

          %p
            Any claim relating to GiveNTake's web site shall be governed by the laws of the State of Hong Kong without regard to its conflict of law provisions.

          %p
            General Terms and Conditions applicable to Use of a Web Site.

          %h2
            Privacy Policy

          %p
            Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.

          %ul
            %li
              Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
            %li
              We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.   
            %li
              We will only retain personal information as long as necessary for the fulfillment of those purposes. 
            %li
              We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
            %li
              Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
            %li
              We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
            %li
              We will make readily available to customers information about our policies and practices relating to the management of personal information. 

          %p
            We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
