%section.site_title.center
  %h1
    Donate and Take for free.
    = link_to "Sign Up Now!", '#'
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", '#', class: 'btn btn-primary'