%section.site_title
  %h1
    Give and Take for free.
  .action
    = link_to "Sign In", new_user_session_path, id: 'sign_in_buttom'
    = link_to "Join Us", new_user_registration_path, id: 'join_us_buttom'
