.modal-content
  .modal-header
    %h1.modal-title Welcome to GiveNTake
  .modal-body
    %p Date of Last Revision: 14 July, 2014.

    %h3
      What exactly it it for?
    %p
      We hate to waste. Instead of selling things not need cheaply, we choose to give them to person who truely need them. If you have the same attitude, this web app will provide a platform for you to give and take things free.
    %h3
      How it works
    %p
      Basically, you can make request for the post you interested. If the giver choose you, both of you have to come up with the best time and best place for picking up requested item. And of course, we wish you can give things by making posts. 
    %h3
      Important Notice

    %ul
      %li
        Please give a detailed description of the item and the place and time you prefer when you make a post.
      %li
        Only make request when you need it and you are okay with the pick-up place and time.
      %li
        When the request is accepted, both giver and receiver should not easily abandon the request or give failure response.
      %li
        Don't just take things and not give nothing.

    =link_to 'Okay I understand it.', root_path