#posts.transitions-enabled
  -@posts.each do |post|
    .box.panel.panel-default
      =link_to post do
        =image_tag post.main_photo_url(:thumb)
      .post_title
        =post.title
      .post_description
        =post.description
        =link_to 'Request', post_path(post)
      
