.row.showcase
  .col-sm-6
    =image_tag @post.main_photo
  .col-sm-4
    %h3
      =@post.title
    %hr
    %p
      =@post.description
    %span
      =@post.user.email
  .col-sm-2
    %h4
      Locations
    #location
      -@post.locations.each do |location|
        %span.badge
          =location.name
.row.request
  .col-sm-8
    .bubble-list
      = unless current_user == @post.user
        .bubble.clearfix
          %img(src='http://academic.mu.edu/phys/matthysd/web226/images/face.gif')
          =form_for [@post, @request] do |f|
            .control-group
              =f.text_area :body, row: 3,  value: "Tell the donator why you need it.'"
              =f.submit 'Submit',class: 'btn btn-primary'
              .br
      -@post.requests.each do |request|
        .bubble.clearfix.row.col-sm-12
          %img(src='http://academic.mu.edu/phys/matthysd/web226/images/face.gif')
          .bubble-content
            .point
            .commenterWrapper
              =link_to request.creator.username, '#'
              %span.commentTime
                =request.updated_at
            .row
              .col-sm-10
                .p
                  =request.body
                .p
                - if current_user == @post.user && @post.givable?
                  =link_to post_commitments_path(@post, receiver_id: request.creator.id), method: :post do
                    %i.glyphicon.glyphicon-heart-empty
                    Give

