.row.showcase
  .col-sm-6
    =image_tag @post.main_photo
  .col-sm-4
    %h3
      =@post.title
    %hr
    %p
      =@post.description
    %span
      =@post.user.email
  .col-sm-2
    #location
      Map
    #time
      Time
.row.request
  .col-sm-8
    .bubble-list
      .bubble.clearfix
        %img(src='http://academic.mu.edu/phys/matthysd/web226/images/face.gif')
        =form_for [@post, @request] do |f|
          .control-group
            =f.text_area :body, row: 3,  value: "Tell the donator why you need it.'"
            =f.submit 'Submit',class: 'btn btn-primary'
            .br
      -@post.requests.each do |post|
        .bubble.clearfix.row.col-sm-12
          %img(src='http://academic.mu.edu/phys/matthysd/web226/images/face.gif')
          .bubble-content
            .point
            .commenterWrapper
              =link_to post.creator.username, '#'
              %span.commentTime
                =post.updated_at 
            .p
              post.body
              .bubble.clearfix

