.checkbox #user_remember_me
  margin-left: 0px

.pic
  width: 120px
  margin-left: 50px

.well-sm
  background-color: white

.name
  margin-top: -50px
  padding-left: 200px
  font-size: 30px

.dropdown
  position: absolute

.change
  position: relative 
  bottom: 20px
  padding: 1px
  color: white
  text-decoration: none

.change:hover
  text-decoration: none
  background-color: black
  color: white
