<p>Welcome to Give and Take<%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you received this email by mistake, simply delted it.</p>
</br>
<p>For any question, please contact giventake.free@gmail.com</p>